$primary: #6f42c1;

$oracle-text-color: #fff;
$oracle-shadow-color: rgba(0, 0, 0, 0.7);
$oracle-stroke-color: black;
$oracle-bg-image-path: url('~/assets/image/background.jpeg');
$oracle-padding-y: 3rem;
$oracle-padding-x: 1.5rem;
$oracle-min-height: 200px;
$oracle-border-radius: .5rem;

$mobile-breakpoint: 767.98px;