@import 'bootstrap/scss/functions';
@import 'variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';

@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/buttons';

@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/helpers';

.oracle-heading {
    color: $oracle-text-color;
    -webkit-text-stroke: 1px $oracle-stroke-color;
    text-shadow: 2px 2px 4px $oracle-shadow-color;

    padding: $oracle-padding-y $oracle-padding-x;
    min-height: $oracle-min-height;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: $oracle-border-radius;

    @include media-breakpoint-down(md) {
        font-size: 2.5rem;
        padding: 2rem 1rem;
        min-height: 150px;
    }
}

.title-image {
    background-image: $oracle-bg-image-path;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    width: 100vw;
    min-height: 400px;
    height: 20vh;
    align-items: center;
    overflow: hidden;

    @include media-breakpoint-down(md) {
        min-height: 300px;
        height: 10vh;
    }
    @include media-breakpoint-up(xl) {
        max-height: 500px;
    }
}

.description {
    background-color: rgba(161,84,38,255);
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    max-width: 1000px; 
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    font-size: 18px;
}

.home-page-buttons {
    background-color: rgba(24,94,108,255);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 400px;
    font-size: 20px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    @include media-breakpoint-down(md) {
        width: 250px;
        min-wdith: 200px;
        max-width: 300px;
    }
}

.box {

}

.message-bubbles {

}

.message-box {

}

body {
    --bs-body-bg: rgb(18,50,63);
    overflow-x: hidden;
}
